/* Main CSS for Assignment 1 */
 html{
  background-color: #30000B;

 }

h1{
  text-align: center;
  font-family: Brush Script MT;
  color: White;
  background: linear-gradient(to right, red, orange);
  background-opacity: 0.5;
  font-size: 100px;

}

h2{
  text-align: center;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  column-count: 2;

}
main p {
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
  
  
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
