/* Main CSS for Assignment 1 */
 html{
  background-color: #141414;
  
 }

h1{
  text-align: center;
  font-family: Brush Script MT;
  color: White;
  background: linear-gradient(to right, red, orange);
  background-opacity: 0.5;
  font-size: 100px;

}

h2{
  text-align: center;
  font-family: Brush Script MT;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
main { 
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  gap: 2rem; max-width: 1000px; 
  margin: 2rem auto; 
  padding: 1rem; 
}
main > section { 
  background: hwb(0 15% 3%); 
  padding: 1.5rem; 
  border-radius: 8px; 
}

main > section h2, main > section h3 { 
  font-family: "Playfair Display", serif;
 }

 main > section p { 
  font-family: "Roboto", sans-serif; 
  white-space: pre-line; 
  line-height: 1.6; }

aside { 
  background: hwb(0 15% 3%); 
  padding: 1.5rem; 
  border-radius: 8px; 
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
