/* Main CSS for Assignment 1 */

 html{ /*black background for page*/
  background-color: #141414;
 }

 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{ /*Title styling*/
  text-align: center;
  font-family: Brush Script MT;
  color: White;
  background: linear-gradient(to right, #ff4d4d, #ffb347); 
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);

}


/*-----------------------*/
/* Body Styling */
h2{ /*Section heading styling*/
  text-align: center;
  font-family: Brush Script MT;
  
}

body { /*General body styling*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main { /* Main content styling */
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  gap: 2rem; max-width: 1000px; 
  margin: 2rem auto; 
  padding: 1rem; 
}

main > section { /* Section styling */
  background: hwb(0 15% 3%); 
  padding: 1.5rem; 
  border-radius: 8px; 
  
}

main > section h2, main > section h3 { /* Section and article heading styling */
  font-family: "Playfair Display", serif;
 }

 main > section p {  /* Paragraph styling */
  font-family: "Georgia", sans-serif; 
  white-space: pre-line; 
  line-height: 1.6; }

  header, main, footer {
  margin-bottom: 2rem;
}

/*-----------------------*/
/*Aside styling*/
aside { 
  background: hwb(0 20% 10%); 
  padding: 1.5rem; 
  border-radius: 8px; 
}

aside h2 { 
  font-family: "Playfair Display", serif; 
  margin-bottom: 0.5rem; 
}

aside p, aside li { 
  font-family: Libre Baskerville, serif; 
  line-height: 1.5; 
}

main > section, aside {
  border: 4px solid rgb(202, 202, 202);
}


/*-----------------------*/
/*footer styles*/
footer { background: hwb(0 15% 3%); 
  padding: 1.5rem; border-radius: 8px; 
  margin-top: 2rem; color: white; 
  font-family: "Roboto", sans-serif; 
  line-height: 1.5; 
  border-top: 2px white solid; 
}

  footer p { 
    margin-bottom: 0.75rem; 
    text-align: center; 
    
    padding-top: 0.75rem;
  }
  footer ul { 
    list-style: none; 
    padding: 0; 
    margin: 0.5rem 0 1rem 0; 
    text-align: center; 
  }
