@charset "utf-8";

html { /*general page styling*/
    font: 120%/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*Collapse borders */
table {
    border-collapse: collapse;
}

tr:nth-child(odd) { /*Striped rows*/
    background-color: rgb(239, 238, 238);
}

td { /*Cell padding*/
    padding: 1em;
}

td:nth-child(7) { /*Highlighting the "Total" column*/
    color: green;
}

td.negative {/*Highlighting negative values in the "Total" column*/
    color: red;
}   

th {/*Header styling*/
    background: rgba(225,225,225,1);
}

tbody th {/*Highlighting the "Name" column*/
    text-align: center;
}

tfoot td {/*Footer styling*/
    font-size: 60%;
}
caption {/*Caption styling*/
    font-size: 150%;
}

html, body { /*General page layout styling*/
    height:100%; 
}

body { /*Flexbox centering*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

main { /*Main content styling*/
    width:100%; 
    max-width:900px; 
    padding:1rem; 
    box-sizing:border-box; 
}

header, footer {  /*Header and footer styling*/
    text-align:center; 
    width:100%; 
}

table { /*Table styling*/
    width:100%; 
}
