html{

}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.2;
    color: #222;
    background: #f8f8f8;
}

h1, h2 {
    font-family: Georgia, "Times New Roman", serif;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

h1 {
    position: relative;
    font-size: 1.3rem;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-left: 1px solid #000000;
    padding-left: 0.5rem;
    border-right: 1px solid #000000;
    padding-right: 0.5rem;
}

h2 {
    margin: 0;
    padding: 0;
}

article {
    column-width: 350px;
    column-gap: 2rem;
}

body > div {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
}


footer {
    margin-top: 3rem;
    text-align: left;
    font-size: 0.8rem;
    font-style: bold;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

footer time{
    font-style: normal;
    color: grey;
}

article h2:first-of-type{ /*The road well travelled text*/
    font-size: 2.4em;
    text-align: center;
    margin-top: 0;
    text-decoration: bold;
    letter-spacing: 0.0001px;
    
}

img {
    
}



  




