/* ============================
   STAR WARS THEME
   ============================ 
*/


html {
  background-image: url("../img/space.jpg");
    background-repeat: repeat;
    color: white;  
}


header h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  
  
  /* Gold/yellow outline */
  -webkit-text-stroke: 3px #f6c700;

  /* Glow and depth */
  text-shadow:
    0 0 10px #f6c700,
    0 0 20px #f6c700,
    0 0 30px #f6c700,
    4px 4px 0 #000; 
}

svg {
  display: none;
}
