/* ============================
   STAR WARS THEME
   ============================ 
*/


html {
  background-image: url("../img/space.jpg");
    background-repeat: repeat;
    color: rgb(255, 255, 255);  
}


header h1 {
    color: yellow;
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 4rem;
  line-height: 0.9;

  /*learned how to rotate it like this at: https://www.w3schools.com/Cssref/css_pr_rotate.php*/
  transform: perspective(400px) rotateX(25deg);

  
  
  /* Gold/yellow outline */
  -webkit-text-stroke: 3px #f6c700;

  /* Glow and depth */
  text-shadow:
    0 0 10px #f6c700,
    0 0 20px #f6c700,
    0 0 30px #f6c700,
    4px 4px 0 #000; 
}

svg { /*getting rid of the giant stars*/
  display: none;
}

.skip-link {
  color: yellow;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  text-decoration: none;
  transform: perspective(400px) rotateX(25deg);
}

.skip-link:hover {
  text-decoration: underline;
  text-shadow:
    0 0 10px #f6c700,
    0 0 20px #f6c700,
    0 0 30px #f6c700,
    4px 4px 0 #000; 
}


/*everything in header and the first container in about section looking like star wars intro*/
#about > .container:first-of-type, header, nav {
  color: #f6c700;
  text-align: center;
  font-family: "Orbitron", sans-serif;

  max-width: 800px;
  margin: 0 auto;

  /*tilt */
  transform-origin: 50% 100%;
  transform: perspective(400px) rotateX(20deg);

  /*glow*/
  opacity: 0.9;
  text-shadow:
    0 0 5px #f6c700,
    0 0 10px #f6c700,
    0 0 15px #f6c700,
    2px 2px 0 #000; 
}

/* Make all text yellow */
#about > .container:first-of-type h2,
#about > .container:first-of-type p,
#about > .container:first-of-type blockquote{
    color: #f6c700;
}

#about > .container:first-of-type a { /*styling links in intro*/
  color: #f6c709;
  text-shadow:
    0 0 5px #ffefa8,
    0 0 10px hsl(49, 77%, 71%),
    0 0 15px #ffec98,
    2px 2px 0 #000; 
}
#about > .container:first-of-type a:hover {
  text-shadow:
    0 0 10px #ffffff,
    0 0 15px hsl(0, 0%, 21%),
    0 0 30px #ffec98,
    2px 2px 0 #000; 
}


/*make the blockquote look like part of the intro */
#about > .container:first-of-type blockquote {
  border-left: none;
  font-style: normal;
}


a { /*making links look like holograms*/
  color: #00eaff;
  text-decoration: none;
  font-weight: 500;

  /* glow */
  text-shadow:
    0 0 4px #00eaff,
    0 0 8px #00eaff,
    0 0 12px #00eaff;
}

a:hover {
  color: #7dfcff;
  text-shadow:
    0 0 6px #7dfcff,
    0 0 12px #7dfcff,
    0 0 18px #7dfcff;
}

